@import 'tailwindcss';

/* Custom Config */
@theme {
  /* Screens */
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  /* Colors */
  --color-cyan: hsl(180, 66%, 49%);
  --color-cyan-light: hsl(180, 66%, 69%);
  --color-dark-violet: hsl(257, 27%, 26%);
  --color-red: hsl(0, 87%, 67%);
  --color-grayish-violet: hsl(257, 7%, 63%);
  --color-very-darkBlue: hsl(255, 11%, 22%);
  --color-very-dark-violet: hsl(260, 8%, 14%);

  /* Fonts */
  --font-sans: 'Poppins', sans-serif;
  --font-alata: 'Alata';

  /* Custom spacing values */
  --spacing-18: 4.5rem; /* 72px */
  --spacing-180: 32rem; /* 512px */
}

#cta {
  background-image: url('images/bg-boost-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.ficon:hover {
  filter: invert(79%) sepia(61%) saturate(464%) hue-rotate(130deg)
    brightness(120%) contrast(100%);
  transform: scale(1.5); /* Slightly bigger */
}

/* Hamburger  */
.hamburger {
  position: relative;
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  background: #333;
  transform: rotate(0);
  transition: all 0.5s;
  border-radius: 5px;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
